name: tests

on:
  push:
    branches:
      - main
    paths:
      - src/**
      - assets/utils/**
      - .github/workflows/**
      - tests/**
  pull_request:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Probe runner package cache
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: cargo
          version: 1

      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@main

      - name: Install tytanic
        run: cargo binstall tytanic --version 0.3.3 --no-confirm

      - name: Run test suite
        run: tt run --no-fail-fast --max-delta 5

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: artifacts
          path: |
            tests/**/diff/*.png
            tests/**/out/*.png
            tests/**/ref/*.png
          retention-days: 5
